.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;
  }
}

.action {
  display: flex;
  gap: 5px;
}
.io{
  color: rgb(6, 1, 10);
}
.main-body{
  background-image: url("/angular-crud-app-master/src/assets/img1.jpg");
}
